
body{
  background-color: aliceblue;
}





.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.title{
  margin: 30px;
  text-align: center;
  font-family: cursive;
}

.tabs{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 234px;
  background-color: rgb(255, 255, 255);

}
.tabs-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  max-height:100%;
  z-index: 1;

}

.tabs-content{
  
width: 70%;
height: 200px;



}

.tab{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid rgb(195, 195, 195);
  border-left: 3px solid orangered;
  background: #d9d8d4;
  cursor: pointer;
}

.active-tab{
  background-color: purple;
  border-left: purple;
  color: #fff;
  position: relative;
}

.active-tab::after{
  content: "";
  position: absolute;
  top: 15px;
  right: -5px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: purple;
  transform: rotate(45deg);
}

.content{
  display: none;
}

.active-content{
  display: block;
  animation: slide-right 0.5s ease 1;
}

@keyframes slide-right {
  0%{
    transform: translateX(-10rem);
  }
  100%{
    transform: translateX(0);
  }
}